*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    background-color:gray;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    width: 75px;
    height: 75px;
    font-size: 40px;
    margin: 15px;
}


.number, .operand,
.decimal, .equal{
    border: 1px solid black;
    border-radius: 10px;
}

.del, .clear{
    border: 1px solid black;
    border-radius: 10px;
    width: 180px;
    background-color: black;
    color: white;
}

.number:hover, .operand:hover,
.decimal:hover, .equal:hover{
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    
}

.del:hover,.clear:hover{
    background-color: white;
    color:black;
    border: 1px solid black;
    border-radius: 10px;
}




.display-container{
    border: 1px solid black;
    width: 400px;
    height: 105px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    
}

.previous{
    font-size: 25px;
    padding-right: 20px;
    padding-top: 5px;
    display: flex;
    justify-content: right;
}

.current{
    display: flex;
    justify-content: right;
    font-size: 40px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}